{% extends 'connect/base.html' %}
{% load static %}

{% block title %}Add Product - Connect{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Add a New Product</h3>
    <p>Fill out the details below to list your product in the marketplace.</p>

    <form method="POST" action="{% url 'connect:add_product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if form.errors %}
        <div class="alert alert-danger">
            Please correct the errors below.
        </div>
        {% endif %}
        
        {{ form.as_p }}
        
        <button type="submit" class="btn btn-success">Add Product</button>
        <a href="{% url 'connect:marketplacehome' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
